body {
	background-color: white;
}

#field {
	position: relative;
	background: url(img/grass-wide.png) repeat;
}

.cell {
  width: 32px;
  height: 32px;
	position: absolute;
}
.cell.empty {
	background: url(img/grass.png);
	background-position: 0px -160px;
}

.cell.empty.texture2 {
  background-position: -32px -160px; 
}

.cell.empty.texture3 {
  background-position: -64px -160px; 
}




.cell.wall {
	background-color: red;
	background: url(img/rock.png) 0 0;
}

.cell.wall.texture3 {
  background-position: -32px 0;
}

.cell.wall.addon5 {
  background: url(img/watergrass.png) 0 0;
}


.cell.wall.addon10 {
  background: url(img/watergrass.png) 0 -32px;
}


.cell.wall.addon15 {
  background: url(img/forest_tiles.png) -352px -32px; 
}

.cell.wall.addon20 {
  background: url(img/forest_tiles.png) -384px -32px;
}

.cell.wall.addon25 {
  background: url(img/forest_tiles.png) -193px -96px;
}


.cell.fire {
	background-color: orange;
	background: url(img/lava.png) no-repeat 0 0;
}

.cell.fire2 {
  background: url(img/lava.png) no-repeat 0 -160px;
}

.ice {
	position: absolute;
	background-color: lightblue;
	background: url(img/iceBlockTop.png);
}

.hero {
	position: absolute;
}
.hero.hero1 {
	background-color: blue;
	background: url(img/soldier.png) no-repeat;
}
.hero.hero2 {
	background-color: yellow;
	background: url(img/princess.png) no-repeat;
}
