@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
	background-color: transparent;
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	padding: 0;
	
	background: url(img/single-grass.png) repeat;
}

#top-bar {
  background: url(img/plank.png) repeat;
  color: white;
  font-size: 8px !important;
  padding: 10px;
  letter-spacing: -1px;
}

#top-bar a {
  color: white;
}

#top-bar .fa {
  font-size: 12px;
  margin-top: -12px
}

#top-bar .l {
  float: left;
}

#top-bar .r {
  float: right;
}

#top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#top-bar ul li {
  width: auto;
  float: left;
  padding: 0 10px;
  border-left: 1px solid black;
}

.clearfix {
  clear: both;
}






#start-screen {
  width: 100%;
  height: 400px;
  
  background: url(../site/img/bg.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  text-align: center;
}

#start-screen .darken {
  background: rgba(13, 13, 13, 0.8);
  padding-top: 80px;
  height: 100%;
}


#start-screen #play-button {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.logo {
  margin: 0px;
  font-size: 26px;
  color: white;
  margin-bottom: 50px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#start-screen h4 {
  margin: 0;
  font-size: 18px;
  color: white;
  margin-bottom: 50px;
}


#char-select {
  width: 130px;
  height: 65px;
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#char-select div.hero {
  opacity: 0.4;
}

#char-select div.hero.active {
  opacity: 1;
}


.button {
  margin: 0px 15px !important;
}

#retry {
  font-size: 8px;
  padding: 8px;
}






#field {
	position: relative;
	background: url(img/grass-wide.png) repeat;
	margin: 0 auto;
	padding: 0;
}

.cell {
  width: 32px;
  height: 32px;
	position: absolute;
}
.cell.empty {
	background: url(img/grass.png);
	background-position: 0px -160px;
}

.cell.empty.texture2 {
  background-position: -32px -160px; 
}

.cell.empty.texture3 {
  background-position: -64px -160px; 
}




.cell.wall {
	background-color: red;
	background: url(img/rock.png) 0 0;
}

.cell.wall.texture3 {
  background-position: -32px 0;
}

.cell.wall.addon5 {
  background: url(img/watergrass.png) 0 0;
}


.cell.wall.addon10 {
  background: url(img/watergrass.png) 0 -32px;
}


.cell.wall.addon15 {
  background: url(img/forest_tiles.png) -352px -32px; 
}

.cell.wall.addon20 {
  background: url(img/forest_tiles.png) -384px -32px;
}

.cell.wall.addon25 {
  background: url(img/forest_tiles.png) -193px -96px;
}


.cell.fire {
	background-color: orange;
	background: url(img/lava.png) no-repeat 0 0;
}

.cell.fire2 {
  background: url(img/lava.png) no-repeat 0 -160px;
}

.ice {
	position: absolute;
	background-color: lightblue;
	background: url(img/iceBlockTop.png);
}

.hero {
	position: absolute;
}
.hero.soldier {
	background-color: blue;
	background: url(img/soldier.png) no-repeat;
}
.hero.princess {
	background-color: yellow;
	background: url(img/princess.png) no-repeat;
}

.final {
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.9);
	background: url(img/pw_maze_white.png) repeat;
}
